<body>
  <!-- Main nav -->
  

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><img src="/assets/images/logo.jpg" alt="logo" class="topnav" height="100" width="150"></a>
    <a class="navbar-brand" href="#">Assignment1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if (title == "Home"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-laptop-house"></i>Home </a>
        </li>
        <% if (title == "about"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-address-card"></i>About </a>
        </li>
        <% if (title == "project"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/project"><i class="fas fa-project-diagram"></i>Project </a>
        </li>
        <% if (title == "services"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/services"></i><i class="fab fa-servicestack"></i></i>Services </a>
        </li>
        <% if (title == "books"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/book-list"><i class="fas fa-book"></i>Books </a>
        </li>
        <% if (title == "Contact"){ %>
          <li class="nav-item active ">
          <% } else { %> 
        <li class="nav-item ">
        <% } %>
          <a class="nav-link" href="/Contact"><i class="fas fa-id-card-alt"></i>Contact me </a>
        </li>

        <% if (typeof displayName == 'string' && displayName){ %>
          <li class="navbar-text"><i class="fas fa lg user"> </i>Welcom, <%= displayName %></li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i>Logout</a></li>
          <% } else{ %>
            <li class="nav-item"><a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i>Login</a></li>
          <% } %> 
    </div>
  </nav>