<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 
<body>

    <h2>Contact</h2>
    
    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="cnumber">Contact Number:</label><br>
      <input type="text" id="cnumber" name="cnumber"><br><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br><br>
      <label for="message">Message:</label><br>
      <textarea cols="20" name="message" rows="2" id="message" ></textarea><br><br>
    
      <input type="submit" value="Submit">
    </form> 
    
    </body>
    </html>
    
