<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 
<body>

    <div class="about-section">
      <h1>Project Page</h1>
      <p>Some of my past project</p>
    </div>
    
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/assets/images/Project1.png" alt="Jane" style="width:100%">
          <div class="container">
            <h2>Project 1</h2>
            <p class="title">Home list</p>
            
          </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/assets/images/Project2.png" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Project 2</h2>
            <p class="title">Organization</p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="column">
        <div class="card">
          <img src="/assets/images/Project3.png" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Project 3</h2>
            <p class="title">Map</p>
          
          </div>
        </div>
      </div>
      
    
    
    
    </body>
    </html>
    