<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 

  <div class=“container”>
    <!-- container contents go here -->
    <div class="about-section">
      <h1>Services Page</h1>
      <p> My Service</p>
    </div>
    
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/assets/images/Web.png" alt="Jane" style="width:50%">
          <div class="container">
            <h2>Service1</h2>
            <p class="title">Web design</p>
                  </div>
        </div>
      </div>
    
      <div class="column">
        <div class="card">
          <img src="/assets/images/softwar.jpg" alt="Mike" style="width:50%">
          <div class="container">
            <h2>Service 2</h2>
            <p class="title">Development and building of computer systems software
    </p>
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="column">
        <div class="card">
          <img src="/assets/images/app.jpg" alt="Mike" style="width:50%">
          <div class="container">
            <h2>Service 3</h2>
            <p class="title">Development and building of computer applications software</p>
          
          </div>
        </div>
      </div>
  </div>
    

    </body>
    </html>
    
